<%- include('header') -%>        
        <div class="container p-5">
            <h1>Élelmiszer manager</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><h5><b>Tároló</b></h5></th>
                        <th colspan="3">
                            <button type="button" class="btn btn-outline-dark">Törlés</button>
                            <a href="termek_modositas.ejs"><button type="button" class="btn btn-outline-dark">Módosítás</button></a>
                        </th>
                    </tr>
                    <tr>
                        <td><b>Termék</b></td>
                        <td><b>Lejárat</b></td>
                        <td><b>Tömeg</b></td>
                        <td><b>Kalóriatartalom</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pepsi</td>
                        <td>2024. 07. 17.</td>
                        <td>500 g</td>
                        <td>150 kCal</td>
                    </tr>
                    <tr>
                        <td>Csirkehús</td>
                        <td>2023. 11. 03.</td>
                        <td>1 000 g</td>
                        <td>90 kCal</td>
                    </tr>
                    <tr>
                        <td>Sajt</td>
                        <td>2023. 11. 11.</td>
                        <td>1 000 g</td>
                        <td>110 kCal</td>
                    </tr>
                    </tbody>
            </table>
            <a href="termek_uj.ejs"><button type="button" class="btn btn-outline-dark">+</button></a>
        </div>
        <%- include('footer') -%>