<%- include('header') -%>
        <div class="container p-5">
            <h1>Termék módosítása</h1>
            <h5>Termék</h5>
            <input type="text">
            <h5 class="pt-2">Lejárat</h5>
            <input type="text">
            <h5 class="pt-2">Tömeg</h5>
            <input type="text">
            <h5 class="pt-2">Kalóriatartalom</h5>
            <input type="text">
            <div class="pt-3">
                <a href="tarolo.ejs"><button type="button" class="btn btn-outline-dark">Módosítás</button></a>
                <a href="tarolo.ejs"><button type="button" class="btn btn-outline-dark">Mégse</button></a>
            </div>
        </div>
        <%- include('footer') -%>
